 * {
 	box-sizing: border-box;
 }

  html, body {
        height: 100%;
        margin: 0 auto;
       
      }
/* ----- Layout Containers ------ */
/* .wrapper{
  height: 100%;
} */
.container{
	padding-left: 1em;
	padding-right: 1em;
}

.content{
	background: #f6f6f6;
	margin-top: 0;
	padding: 0 0;
  height: 100%;
}

/* ----- Navigation ----- */

.menu_items{
	margin-top: 0;
	list-style-type: none;
	text-align: center;
	}
.menu_link{
	text-decoration: none;
}
.menu_item{
	  display: inline-block;
    margin: 5px;
}

.menu-title{
	font-size: 18px;
	color: #414141;
  font-family: "Fira Sans";
}
.menu_item_active{
  padding-bottom: 10px;
  border-bottom: 6px solid #33c1e3;
}
.menu-title_active{
	font-size: 18px;
	color: #33c1e3;
  font-family: "Fira Sans";
}

.title{
	margin-top: 0;
}

/* ==== About Container ==== */
.avatar1{
	border-radius: 110px;
	border: 2px solid #fff;
}
.about-img{
	text-align: center;
}
/* ==================
           Media Queries
            ================== */

@media (min-width: 769px){
   .wrapper{
     min-height: calc(100vh-50px); /* 100view port hight - 50px footer height */
   }
   .container{
	 width: 80%;
	 max-width: 1000px;
	 margin: 0 auto;
   
   }
   
   .sidebar{
   	float: left;
   	width: 220px;
   }
   
   .page-content{
   	float: right;
   	width: 700px;
   }
   
   .about_left{
   	float: left;
   	width: 300px;
  	margin-top: 25px;
   	
   }
  .about-right{
  	float: left;
  	width: 400px;
  } 
  .about_description{
  	height: 370px;
  	width: 380px;
  	overflow: scroll;
  	margin-left: 1em;
  }

/* ----- Navigation ----- */
.menu_items{
	display: inline-block;
  padding-right: 20px;
  text-align: right;
}
.menu-title{
	  font-size: 18px;
	  color: #414141;
    /* line-height: 30px; */
}
.menu_item_active{
  padding: 0 24px;
  border-right: 6px solid #33c1e3;
  border-bottom: 0px;
}
.menu-title_active{
	color: #33c1e3;
}


}

