footer{
	height: 50px;
	width: 100%;
	background: #414141;
	margin-top: -50px;
}

.footer_left, .footer_right{
	float: left;
	width: 50%;	
}

.copyright{
	color: #9c9c9c;
	font-family: fira_sanslight;
	font-size: 14px;
	padding-top: 18px;
}

.footer_right{
	text-align: right;
}

.social_item{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
.social_link{
	color: white;
}

/* ==================
           Media Queries
            ================== */