  * {
 	box-sizing: border-box;
 }

  html, body {
         height: 100%; 
         width: 100%;
      }
  body{
    overflow: auto;
    background: #f6f6f6;
    margin: 0;
  }    
/* ----- Layout Containers ------ */
.wrapper{
  overflow: hidden;
  min-height: 100%;
}
.wrapper:after{
  content: "";
  display: block;
  height: 50px;
}

.content{
	background: #f6f6f6;
	margin-top: 0;
	padding: 0 0;
  height: 100%;
}

 .clearfix:after{
   content: "";
   display: table;
   clear: both;
 }
/* ----- Navigation ----- */

.menu_items{
	margin-top: 0;
	list-style-type: none;
	text-align: center;
	}
.menu_link{
	text-decoration: none;
}
.menu_item{
	  display: inline-block;
}
.menu_icon{
  color: #414141;
}
.menu_icon_active{
  color: #33c1e3;
}

.menu-title{
	font-size: 18px;
	color: #414141;
  font-family: "Fira Sans";
}
.menu_item_active{
  padding-bottom: 10px;
  border-bottom: 6px solid #33c1e3;
}
.menu-title_active{
	font-size: 18px;
	color: #33c1e3;
  font-family: "Fira Sans";
}

.title{
	margin-top: 25px;
  margin-left: 20px;
}

/* ==== About Container ==== */
.avatar1{
	border-radius: 110px;
	border: 5px solid #fff;
}
.about-img{
	text-align: center;
  margin-top: -12px;
}

.download{
  text-align: right;
  margin-right: 1px;
  margin-top: 35px;
}
.download_link{
  text-decoration: none;
  color: #e85f61;
  border: 2px solid #e85f61;
  font-size: 14px;
  border-radius: 18px;
  padding: 10px 15px;
}
.download_icon{
 margin-right: 12px;
}

/* ==================
           Media Queries
            ================== */

@media (min-width: 769px){
   
   .container{
	/*  width: 80%; */
	 max-width: 940px;
	 margin: 0 auto;
   
   }

   .sidebar{
   	float: left;
   	width: 200px;
    margin-top: 23px;
    margin-left: 20px;
   }
   
   .page-content{
   	float: left;
   	width: 700px;
    margin-left: 20px;
   }
   
   .about_left{
   	float: left;
   	width: 300px;
  	margin-top: 40px;
   	
   }
  .about-right{
  	float: left;
  	width: 400px;
    text-align: left;
  } 
  .about_description{
  	height: 370px;
  	width: 380px;
  	overflow: auto;
  	margin-left: 18px;
    margin-top: -20px;
    line-height: 26px;
    font-size: 18px;
  }

/* ----- Navigation ----- */
.menu_items{
  text-align: right;
  padding: 0;
}
.menu_item{
 padding: 6px 29px;
}
.menu-title{
	  font-size: 18px;
	  color: #414141;

    line-height: 30px;
}
.menu_item_active{
  padding: 11px 25px;
  border-right: 6px solid #33c1e3;
  border-bottom: 0px;
}
.menu-title_active{
	color: #33c1e3;
}


}

