

.portfolio-title{
	font-size: 35px;  
    margin-top:  15px;
    font-family: fira_sansmedium;
}
.portfolio_items{
	padding-left: 0px;
}
.portfolio_item{
	float: left;
    list-style: none;
    margin-bottom: 20px; 
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.portfolio_item:nth-child(3n+2){
	margin: 0 20px;
	
}
.project-photo{
	height: 172px;
	width: 220px;
}
.project_img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.project-content{
	width: 220px;
	height: 110px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 14px;
    padding-left: 20px;
}

.project_link{
	text-decoration: none;
	font-size: 21px;
	color: #33c1e3;
	font-family: fira_sansregular;
	padding-bottom: 10px;
}
.project_title{
	font-size: 14px;
	font-family: fira_sanslight;
	color: #414141;
}

.project-description{
	font-size: 14px;
	font-family: fira_sanslight;
	color: #414141;
	margin-bottom: 10px;
}
.project-type{
	font-size: 14px;
	line-height: 24px;
	color: #aeaeae;
	font-family: fira_sansbold;
}
.project-type-icon{
    font-size: 18px;
}
