@media  screen and (max-width: 992px) {
	.wrapper{
		min-width: 768px;
	}
	.container{
		max-width: 768px;
	}
	.sidebar{
	float: none;
    width: 768px;
   }
   .menu{
   	margin-bottom: 50px;
   }
	.menu_item{
		display: inline-block;
	}
	.menu_link{
		border-right: transparent;
		border-bottom: 6px solid transparent;
	}

	 .footer{
 
  min-width: auto;
}

}