@media  screen and (max-width: 992px) {
	// .wrapper{
	// 	min-width: 768px;
	// }
	.container{
		width: 730px;
	}
	.sidebar, .page-content{
	float: none;
    width: 100%;
    margin-left: 0;
   }
   .sidebar{
   	margin-bottom: 35px;
   }
	.menu_item{
		display: inline-block;
		vertical-align: middle;
		margin-right: 25px;
	}
	.menu_link{
		text-align: left;
		// border-right: transparent;
		// border-bottom: 6px solid transparent;
		border: none;
		padding-right: 0;
	}

	.about_left{
      width: 30%;
	}
	.about_img{
		height: 165px;
		width: 165px;
	}
    .about_right{
      width: 70%;
    }
}