@media screen and (max-width: 768px) {

   .container{
    max-width: 480px;
	}
.header_right{
	width: 30%;
	padding-top: 20px;
}
.header_left{
	width: 70%;
}
.contacts{
	display: none;
}
.contact_icon-span{
	display: inline;
	color: #32c3e5;
	// padding-right: 20px;
	}
.contact_icon:hover{
	 animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
     transform: translate3d(0, 0, 0);
     color: #e85f61;
}

@keyframes shake {
10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);}

 }

.menu_item{
	 margin-right: 30px;

}
.sidebar {
    margin-bottom: 38px;
    // text-align: center;
}


  .page-content{
  	float: none;
  	width: 100%;
  	margin: 0;
  	margin-left: 18px;
  }
   .menu-title{
   	margin-left: 5px;
   }
  // ======= About Page
   .about_left, .about_right{
	float: none;
	width: 100%;
}
   .about_right{
   	margin-left: 7px;
   }
   .about_text{
   	margin-right: 15px;
   	margin-bottom: 21px;
   }


.content-title{
	text-align: center;
	margin-bottom: 12px;
}

.about_download {
	text-align: center;
	margin-bottom: 39px;
}
.btn {
    margin-right: 49px;
}


//===========


.about_me-right, .about_me-left{
	float: none;
	width: 100%;
}
.about_me-left{
	margin-bottom: 12px;
	text-align: center;
  
}
.about-me_university-photo{
	display: inline-block;
  margin-right: 39px;
}

.career_item{
	padding: 0;
}

.career_block{
	display: block;
	width: 92%;
  padding: 17px 10px 14px 20px;
  margin-bottom: 18px;
	&:after, &:before{
		display: none;
	}
}
.career_title, .career_occupation, .career_time {
    margin-bottom: 3px;
}
.career_title{
	font-size: 18px;
}
.career_occupation, .career_time{
	font-size: 16px;
}
.career_year{
	display: none;
}

// ===========
.portfolio_item{
	width: calc(100% / 2 - 20px)
}

  .footer{
  height: 95px;
  margin-top: -95px;
  }

 .footer_left, .footer_right{
	float: none;
	text-align: center;
	width: 100%;
}
.social_item{
	margin-left: 1px;
}
 .wrapper:after{
	height: 95px;
}
 
//================ 
.container .sidebar-portfolio{
  margin-bottom: 15px;
}

}