@media  screen and (max-width: 768px) {

   .container{
    width: 480px;
	}
.header_right{
	width: 30%;
	padding-top: 20px;
}
.header_left{
	width: 70%;
}
.contacts{
	display: none;
}
.contact_icon-span{
	display: inline;
	color: #32c3e5;
	// padding-right: 20px;
}

  .page-content{
  	float: none;
  	width: 100%;
  	margin: 0;
  }
   .menu-title{
   	margin-left: 5px;
   }
  // ======= About Page
   .about_left, .about_right{
	float: none;
	width: 100%;
}

.content-title{
	text-align: center;
	margin-bottom: 15px;
}

.about_download {
	text-align: center;
}





//===========


.about_me-left, .about_me-left{
	float: none;
	width: 100%;
}
.about_me-left{
	margin-bottom: 20px;
	text-align: center;
}
.about-me_university-photo{
	display: inline-block;
}

.career_item{
	padding: 0;
}

.career_block{
	display: block;
	width: 100%;
	&:after, &:before{
		display: none;
	}
}

.career_title{
	font-size: 18px;
}
.career_occupation, .career_time{
	font-size: 16px;
}
.career_year{
	display: none;
}

// ===========
.portfolio_item{
	width: calc(100% / 2 - 20px)
}

  .footer{
  height: 95px;
  margin-top: -95px;
  }

 .footer_left, .footer_right{
	float: none;
	text-align: center;
	width: 100%;
}
 .wrapper:after{
	height: 95px;
}
 

}