 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
 body{
 	background: url('../../img/bg/geometry2.png');
 }     
.main_window{
	width:100%;
    height:100%;
}

/* ==Just try to do something new== */
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.content{
   position: fixed;
   top: 50%;
   left: 50%;
   margin-left: -152px;
   margin-top: -170px;
   opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

}

/* ====== ====== ==== ==== === */
.main_window{
	text-align: center;	

}

.button_name{
	position: absolute;
	margin-top: 65px;
}	

.link{
 background-color: #33c1e3;
 padding: 20px;
 width: 300px;
 margin: 0 auto;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;
 box-sizing: border-box;
}

 .button{	
	padding: 9px 17px;
	border: 2px solid #f6f6f6;
	border-radius: 20px; 
	color: white;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
    max-width: 320px;
	}

.button:hover{
	background: #fff;
	color: #33c1e3;
}


.name{
	width: 300px;
    margin: 0 auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #fff;
    max-height: 300px;
    overflow: hidden;
    padding-top: 106px;
    padding-bottom: 29px;
}

.name_text{
	/* padding-top: 95px;
	margin-bottom: 37px; */
	font-size: 21px;
    font-weight: 600;
    max-width: 150px;
    text-align: center;
    display: inline-block;
}

.image{
   border: 1px solid #616161;
   border-radius: 50%;
}

.image_container{
	z-index: 10;
    position: absolute;
    margin-left: 76px;
}




