.portfolio_list{
  margin-left: -20px;
  font-size: 0;
}

..portfolio_list * {
   font-size: 14px;
}
.portfolio_item{
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    width: 220px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom:17px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}
.portfolio_link{
	display: block;
	text-decoration: none;
}

.portfolio_link:hover .portfolio_title{
	color: #e85f61;
}

.portfolio_pic-elem{
	display: block;
	max-width: 100%;
}
.portfolio_desc{
 padding: 16px 20px 14px 20px;

}

.portfolio_title{
	font-size: 21px;
	color: #33c1e3;
	/* margin-bottom: 5px; */

}

.portfolio_work-desc{
	font-size: 14px;
	color: #414141;
	font-weight: 300;
	margin-bottom: 12px;
}

.portfolio_type-icon, .portfolio_type-title{
	display: inline-block;
	vertical-align: middle;
}
.portfolio_type{
	color: #aeaeae;
	font-size: 14px;
}
.portfolio_type-icon{
	font-size: 18px;
}
.portfolio_type-title{
	min-width: 16px;
	margin-left: 5px;

}










