.portfolio_list{
  margin-left: -20px;
  font-size: 0;
}

.portfolio_list * {
   font-size: 14px;
}
.portfolio_item{
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    width: 220px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom:17px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    animation: fall_in 1s ;
    animation-fill-mode: both;
    
}


@keyframes fall_in {
  0%   { opacity: 0;
         transform: translateY(50px); }
  50%   {opacity: .5;
  	     transform: translateY(-50px);}
  100% { opacity: 1; }
}
.portfolio_item:nth-child(1){
   animation-delay: 0s
}
.portfolio_item:nth-child(2){
   animation-delay: 0.5s
}
.portfolio_item:nth-child(3){
   animation-delay: 1s
}
.portfolio_item:nth-child(4){
   animation-delay: 1.5s
}
.portfolio_item:nth-child(5){
   animation-delay: 2s
}
.portfolio_item:nth-child(6){
   animation-delay: 2.5s
}
.portfolio_link{
	display: block;
	text-decoration: none;
	&:hover	.portfolio_title{
	color: #e85f61;
   }
   &:hover .portfolio_pic{
   	  transform: scale(1.06);
   }
}


.portfolio_img_wrap{
	overflow: hidden;
}
.portfolio_pic{
	height: 180px;
	background-position:  center center; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	transition: .3s ease-in-out;
}

.portfolio_pic-img{
	position: absolute;
	top: 0;
	left: -9999px;
}
.portfolio_pic-elem{
	display: block;
	max-width: 100%;
}
.portfolio_desc{
 padding: 16px 20px 14px 20px;

}

.portfolio_title{
	font-size: 21px;
	color: #33c1e3;
}

.portfolio_work-desc{
	font-size: 14px;
	color: #414141;
	font-weight: 300;
	margin-bottom: 12px;
}

.portfolio_type-icon, .portfolio_type-title{
	display: inline-block;
	vertical-align: middle;
}
.portfolio_type{
	color: #aeaeae;
	font-size: 14px;
}
.portfolio_type-icon{
	font-size: 18px;
}
.portfolio_type-title{
	min-width: 16px;
	margin-left: 5px;

}










